.red-bg {
    background-color: #e7eaca;
}

.top-pos {
    bottom: auto;
}

.text-center {
    text-align: center;
}

.zero-margin {
    margin-bottom: 2px;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  }

  .rating-list li:hover,
  .rating-list li:hover ~ li {
    color: orange;
  }

  .rating-list {
    display: inline-block;
    list-style: none;
  }
  .checked {
      color: orange;
  }