{% extends "base.html" %}

{% block content %}
<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
        src="https://res.cloudinary.com/daltp6aje/image/upload/c_scale,h_400,w_900/v1677074419/690539_r7i7ye.jpg" alt="MOT Centre Image" /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Quick MOT</h1>
        <p class="card-text">Enter your car registration number.</p>
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <input type="text" name="car_reg" id="car_reg" maxlength="8" minlength="3">
            </p>
            <div>
                <p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </p>
            </div>
        </form>
    </div>
</div>
{%endblock%}