{% extends "base.html" %}

{% block content %}
<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
            src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Quick MOT</h1>
        <p class="card-text">Enter your car registration number.</p>
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <input type="text" name="car_reg" id="car_reg">
            </p>
            <div>
                <p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </p>
            </div>
        </form>
    </div>
</div>
{%endblock%}