{% extends "base.html" %}

{% block content %}
<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
            src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Change Date</h1>
        <p class="card-text">Select new date for {{ booking.car }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button class="btn btn-primary btn-sm" type="submit">Confirm</button>
            <a class="btn btn-primary btn-sm" href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
</div>
{%endblock%}