{% extends "base.html" %}

{% block content %}
<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
        src="https://res.cloudinary.com/daltp6aje/image/upload/c_scale,h_400,w_900/v1677074419/690539_r7i7ye.jpg" alt="MOT Centre Image" /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Change Date</h1>
        <p class="card-text">Select new date for {{ booking.car }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button class="btn btn-primary btn-sm" type="submit">Confirm</button>
            <a class="btn btn-primary btn-sm" href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
</div>
{%endblock%}