{% extends "base.html" %}

{% block content %}
<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
        src="https://res.cloudinary.com/daltp6aje/image/upload/c_scale,h_400,w_900/v1677074419/690539_r7i7ye.jpg" alt="MOT Centre Image" /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Confirm Car</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Make: {{ data.make }}</li>
            <li class="list-group-item">Colour: {{ data.colour }}</li>
            <li class="list-group-item">Year: {{ data.yearOfManufacture }}</li>
            <li class="list-group-item">Registration: {{ data.registrationNumber }}</li>
            <li class="list-group-item">MOT expiry date: {{ data.motExpiryDate }}</li>
        </ul>
        <a class="btn btn-primary" href="{% url 'add_booking' %}">Confirm</a>
        <a class="btn btn-primary" href="{% url 'add_car_reg' %}">Back</a>
    </div>
</div>
{%endblock%}