{% extends "base.html" %}

{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Quick MOT</h1>
            {% if user.is_authenticated %}
            <p>Welcome! {{ user.first_name }}, Let's start the procces to schedule the MOT test for your car,
                click on "Book MOT Test" to get started.
                We will need the car registration number.</p>
            <a class="btn btn-primary" href="{% url 'add_car_reg' %}">Book MOT Test</a>
            {% else %}
            <p>Welcome! Here is the perfect place to schedule the MOT test for your car, click on "Register" to get
                started</p>
            <a class="btn btn-primary" href="{% url 'account_signup' %}">Register</a>
            {% endif %}
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">This call to action card is a great place to showcase some important information
                or display a clever tagline!</p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body red-bg">
                    <h2 class="card-title">Bookings</h2>
                    <p class="card-text">Upcomming bookings.</p>
                    {% if user.is_authenticated %}
                    <div id="bookings_carousel" class="carousel slide">
                        <div class="carousel-inner">
                            {% for booking in bookings %}
                            {% if forloop.counter == 1 %}
                            <div class="carousel-item red-bg active">
                                <p class="text-center">{{ booking }}</p>
                                <a class="btn btn-primary btn-sm" href="/delete_booking/{{ booking.id }}">Cancel</a>
                            </div>
                            {% else %}
                            <div class="carousel-item red-bg">
                                <p class="text-center">{{ booking }}</p>
                                <a class="btn btn-primary btn-sm" href="/delete_booking/{{ booking.id }}">Cancel</a>
                            </div>
                            {% endif %}
                            {% empty %}
                            <p class="text-center">No bookings</p>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev top-pos" type="button" data-bs-target="#bookings_carousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon text-secondary" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next top-pos" type="button" data-bs-target="#bookings_carousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon text-secondary" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    {% else %}
                    <p>Log in to see bookings</p>
                    {% endif %}
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body red-bg">
                    <h2 class="card-title">Card Two</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus
                        at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates
                        quos eligendi labore.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body red-bg">
                    <h2 class="card-title">Card Three</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
</div>
{%endblock%}